.schedule_list-content {
  padding: 20px;
  background-color: white;

  .header {
    margin-bottom: 48px;
  }

  .description {
    display: flex;
    justify-content: center;

    &-block:not(:last-child) {
      margin-right: 48px;
    }
  }

  .ant-card {

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &-body {
      padding: 0 24px;
    }

    &-bordered {
      border-radius: 10px;
      border-color: #d9d9d9;
      overflow: hidden;
    }

    &-head {
      border-bottom: 0;

      &-title {
        white-space: normal;
      }
    }
  }
}