.schedule-list__card.ant-card .ant-card {

  &-head,
  &-body,
  &-footer {
    padding: 12px;
  }

  &-body {
    p {
      margin-bottom: 0;
    }
  }

  &-head {
    &-title {
      padding: 0;
    }
  }
}